.cont {
  border: 0.5px solid grey;
  border-radius: 5px;
  box-shadow: black 2px 2px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}
.yes {
  background-color: blue;
  color: white;
}
.red {
  color: red;
  font-weight: bold;
}