.curve {
  height: 80vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 100px;
  left: -350px;
}
.over {
  background: transparent;
  height: 100vh;
  width: 100vh;
  z-index: 100;
  position: relative;
}